body * { /* change every font to this */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

/* form */

form {
    margin: 0 10%;
}

form input:not(#submit), form select {
    padding: 1em;
    margin: 0.25em;
    font-size: 1em;
}

form #submit {
    margin: 0.5em 0;
    font-size: 1.5em;
    padding: 0.75em; 
    /* background-color: #1670f0; */
    background: linear-gradient(145deg, #1670f0, #0950d8);
    border: 2px solid #141414;
    border-radius: 1em;
}

/* tasksmanager */

#tasksmanager {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

#tasksmanager > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    outline: 2px solid #141414;
    padding: 1em 0;
    margin-top: 1em;
}

#tasksmanager .done-container label {
    padding: 0.25em;
}

#tasksmanager div button { /* delete button */
    padding: 1em;
    border-radius: 2em;
    border-color: #f01010;
}    

/* conditional styles */

.low, .medium, .high {
    padding: 0.5em;
    border-radius: 0.5em;
    width: 4em;
    text-align: center;
}
.low {
    /* background-color: #f010104a; */
    background-color: #feff37;
}
.medium {
    /* background-color: #e0a0104a; */
    background-color: #ffc854;
}
.high {
    background-color: #ffb0b0;
}

.important {
    background-color: #fe020288;
}

.completed *:not(button) /* <-- prevents delete button from having strike-though */ {
    text-decoration: line-through;
}